html, body {
    width: 100%;
    height: 100%;
    padding: 0;
    overflow: hidden;
    padding: 7px;
}


.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}


.left-panel {
    flex: 1.2;
    position: relative;
    border-radius: 0 80px 80px 0;
}

.left-panel-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    background-color: #f7f9fc;
    position: absolute;
    padding: 2px;
}


.overlay {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    border-radius: 0 80px 80px 0;
}

.text-box {
    position: absolute;
    bottom: 60px;
    left: 60px;
    color: white;
    text-align: center;
}

.text-box h1 {
    font-size: 32px;
    font-weight: 700;
    line-height: 1.3;
}

.text-box p {
    font-size: 20px;
    opacity: 0.9;
    margin-top: 10px;
}

.right-panel {
    padding: 40px;            
    margin-right: 40px;       
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}

.right-panel * {
    max-width: 100%;
}

h2 {
    margin-bottom: 5px;
    font-size: 26px;
    font-weight: 700;
    align-items: center;
}

.subtitle {
    color: black;
    margin-bottom: 35px;
}

.slider-dots {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 25px;
}

.slider-dots .dash {
    width: 40px;
    height: 3px;
    border-radius: 2px;
    background: rgba(255,255,255,0.35);
    animation: pulseWave 4s infinite ease-in-out;
}

.slider-dots .dash:nth-child(1) {
    animation-delay: 0s;
}
.slider-dots .dash:nth-child(2) {
    animation-delay: 0.3s;
}
.slider-dots .dash:nth-child(3) {
    animation-delay: 0.6s;
}

@keyframes pulseWave {
    0%, 100% {
        background: rgba(255,255,255,0.35);
        transform: scaleX(1);
    }
    50% {
        background: #fff;
        transform: scaleX(1.35);
    }
}

.slider-dots .dash.active {
    background: #fff;
}


.card .icon {
    position: relative;
    width: 48px;
    height: 48px;
    background: url("/images/buyer_icon.png") center/cover;
    border-radius: 50%;
}

.card .icon-gray{
    position: relative;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: url(/images/seller_icon.png) center/cover;
}

.card-form input[type="radio"] {
    margin-top: 5px;

}

.card {
    display: flex;
    align-items: flex-start;
    gap: 14px;
    border: 2px solid #ddd;
    border-radius: 12px;
    padding: 18px;
    background: #fff;
    cursor: pointer;
    transition: 0.2s ease;
}

.card h3, .card p {
  margin: 3px;
  padding: 10px;
}

.card:hover {
    border-color: #1a73e8;
    background: #eef5ff;
}

.card-form input[type="radio"]:checked + label {
    border-color: #1a73e8;
    background: #e8f1ff;
}
.card-form{
    width: 100%;
}

.btn {
    display: block;
    width: 100%;
    background: #3f92ff;
    border: none;
    padding: 15px;
    margin-top: 15px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    color: white;
    cursor: pointer;
    transition: 0.3s;
}

.btn:hover {
    background: #1d7bff;
}

@media (max-width: 900px) {
    .container {
        flex-direction: column;
        height: auto;
        width: 100%;
    }

    .left-panel {
        display: none;
    }

    .right-panel {
        width: 100%;
        padding: 30px 18px;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    h2 {
        font-size: 22px;
        margin-bottom: 6px;
        font-weight: 600;
    }

    .subtitle {
        font-size: 14px;
        color: #666;
        margin-bottom: 22px;
    }

    .card-form {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 14px;
        border: 14px;
    }

    .card {
         width: 100%;
        padding: 18px;
        border-radius: 14px;
        justify-content: flex-start;
        background: #fff;
    }

 .card .text h3 {
        font-size: 16px;
        font-weight: 600;
        margin-bottom: 4px;
    }

    .card .text p {
        font-size: 13px;
        color: #666;
        line-height: 1.35;
    }

    .btn {
        width: 100%;
        margin-top: 250px;
        padding: 15px;
        font-size: 15px;
        border-radius: 8px;
        font-weight: 600;
        border: none;
        background: #1a73e8;
        color: white;
        cursor: pointer;
        transition: background 0.2s;
    }

    .btn:hover {
        background: #166ad4;
    }
}


@media (min-width: 1200px) {
    .right-panel {
        padding: 40px;
        margin-right: 60px;
    }
}

