body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

main {
  max-width: 400px;
  margin: 40px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

#back-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#back-button img {
  width: 24px;
  height: 24px;
}

h1 {
  font-size: 24px;
  margin-left: 10px;
}

label {
  display: block;
  margin-bottom: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
  cursor: pointer;
}

label img {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}

label h3 {
  font-size: 18px;
  margin-top: 0;
}

label p {
  font-size: 14px;
  color: #666;
}

button[type="submit"] {
  background-color: #4CAF50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

button[type="submit"]:hover {
  background-color: #3e8e41;
}


